#section-1--introduction {
    height: 83vh;
    margin-top: 17vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    width: 100%;
}

#section-1--introduction .left-side {
    max-width: max-content;
    width: calc(40 * 1.5vh);
    max-width: 100%;
}

#section-1--introduction .right-side {
    height: 40vh;
    right: 0;
    border-right: 0.05rem solid var(--primary-color-2);
    width: calc(40 * 1.5vh);
    max-width: 100%;
}

#section-1--introduction h1 {
    margin-bottom: 4vh;
}

#section-1--introduction #i-am {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color-2);
    margin-bottom: 1vh;

    
    /* width: max-content; */
}

#section-1--introduction #i-am #triangle {
    position: relative;
    top: 0.5rem;
}

#section-1--introduction #i-am-and-decorative-div {
    display: flex;
    flex-direction: column;
    gap: 1.6vh;
}

#section-1--introduction #my-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6vh;
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--primary-color-4);
}

#section-1--introduction .name {
    display: flex;
    align-items: stretch;
    margin-top: 1vh;
    margin-bottom: 4vh;
    gap: 4vw;
}

#section-1--introduction #welcome-to-my-world {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4vw;
}

#section-1--introduction .welcome-content-triangle{
    transform: rotate(90deg);
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 52rem){
    .container {
        max-width: none;
        padding-left: none;
        padding-right: none;
        margin: auto;
    }
}