#section-1--introduction {
    height: calc(100vh - 4.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

#section-1--introduction .left-side {
    max-width: max-content;
    z-index: 2;
}

#section-1--introduction .right-side {
    position: absolute;
    /* top: 30vh; */
    width: 70%;
    height: 18rem;
    right: 0;
    z-index: 1;
    border-right: 0.1rem solid var(--primary-color-2);
}

#section-1--introduction h1 {
    margin-bottom: 2rem;
}

#section-1--introduction #i-am {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color-2);
    
    /* width: max-content; */
}

#section-1--introduction #i-am #triangle {
    position: relative;
    top: 0.5rem;
}

#section-1--introduction #i-am-and-decorative-div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#section-1--introduction #my-name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--primary-color-4);
}

#section-1--introduction .name {
    display: flex;
    align-items: stretch;
    
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    gap: 2rem;
}


#section-1--introduction .name p {
    display: flex;
    gap: 1rem;
    padding-bottom: 0;
}

#section-1--introduction #welcome-to-my-world {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    left: -2rem;
}

#section-1--introduction .welcome-content-triangle{
    transform: rotate(90deg);
    right: -2rem;
    top: 0.7rem;
    position: absolute;
}


/* RESPONSIVENESS  */
@media only screen and (max-width: 64rem) {
    :root {
        font-size: calc(100vh * 12/768);
    }

    #section-1--introduction .right-side {
        display: none;
    }
}

@media only screen and (max-width: 52rem){
    :root {
        font-size: calc(100vh * 12/768);
    }

    .container {
        width: 90vw;
        max-width: none;
        padding-left: none;
        padding-right: none;
    }
}