#navbar {
    background-color: var(--primary-color-1);
    width: 100%;
    min-height: 27vh;
    height: calc(26vh + 6vw);
    padding-top: 6vw;
    position: fixed;
    top: 0;
}

#navbar .active {
    background-color: var(--primary-color-2);

}
#navbar .container {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar #div-left {

    display: none;
}

#navbar #div-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#navbar #div-right ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    gap: 0.5vh;
}

#navbar ul a {
    color: var(--primary-color-3);
    font-weight: 400;
    font-size: 0.8rem;
    white-space: nowrap;

    text-decoration: none;
}

#navbar ul li {
    padding-top: 0.6vh;
    padding-bottom: 0.6vh;
    border-left: 0.05rem solid var(--primary-color-2);
    border-bottom: 0.05rem solid var(--primary-color-2);
    cursor: pointer;
    min-width: max-content;
}

#navbar ul li:hover {
    background-color: var(--primary-color-2);
}

#navbar ul li:hover a {
    color: var(--primary-color-1);
}

#navbar ul li.active a {
    color: var(--primary-color-1);
    font-weight: 900;
}

#navbar #div-right ul li:nth-child(1){
    /* width: calc(73 * 1.5vh);
    max-width: 100%; */
    width: 100%;
}

#navbar #div-right ul li:nth-child(2){
    /* width: calc(59.86 * 1.5vh);
    max-width: 82%; */
    width: 82%;
}

#navbar #div-right ul li:nth-child(3){
    /* width: calc(46.72 * 1.5vh);
    max-width: 64%; */
    width: 64%;
}

#navbar #div-right ul li:nth-child(4){
    /* width: calc(33.58 * 1.5vh);
    max-width: 46%; */
    width: 46%;
}

#navbar #div-right ul li:nth-child(5){
    /* width: calc(20.44 * 1.5vh);
    max-width: 28%; */
    width: 28%;
}

#navbar #div-right ul li a {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
    border-bottom: 0.1em rgba(0, 0, 0, 0) solid;
}