#navbar {
    background-color: var(--primary-color-1);
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 5rem;
    position: fixed;
    top: 0;
    z-index: 3;
}

#navbar .container {
    display: flex;
    justify-content: space-between;
}

#navbar #div-left {
    max-width: 50%;
    height: 100%;
}

#navbar #div-right {
    min-width: max-content;
    height: 100%;

    display: flex;
    align-items: center;
}

#navbar #div-right ul {
    list-style: none;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    max-width: 70vw;
}

#navbar #div-right ul a {
    color: var(--primary-color-3);
    font-weight: 400;
    font-size: 0.8rem;
    white-space: nowrap;

    text-decoration: none;
}

#navbar #div-right ul li a {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    
    border-bottom: 0.1em rgba(0, 0, 0, 0) solid;
}

#navbar #div-right ul li a:hover {
    border-bottom: 0.1em var(--primary-color-4) solid;
}