:root {
  --primary-color-1: #6C4A4A;
  --primary-color-2: #C89595;
  --primary-color-3: rgb(221, 190, 190);
  --primary-color-4: #EDEDED;
  font-size: calc(100vh * 16/768);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;
  color: var(--primary-color-3);

  /* outline: solid blue 0.1rem; */
}

.container {
  width: 80%;
  padding-left: 3rem;
  padding-right: 3rem;
  max-width: 56rem;
  margin: auto;

  background-color: var(--primary-color-1);
}

.decoration-div {
  width: 3rem;
  min-height: 3rem;
  height: 100%;
  border-top: 0.1rem solid var(--primary-color-2);
  border-right: 0.1rem solid var(--primary-color-2);
}

/* RESPONSIVENESS  */
@media only screen and (max-width: 1024px) {
  :root {
      font-size: calc(100vh * 12/768);
  }
}

@media screen and (max-height: 768px){
  :root {
    font-size: 16px;
  }
}