:root {
  --primary-color-1: #6C4A4A;
  --primary-color-2: #C89595;
  --primary-color-3: rgb(221, 190, 190);
  --primary-color-4: #EDEDED;
  font-size: min(100vh * 16/768, 100vw * 42/1360);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: 'Inter', sans-serif;
  color: var(--primary-color-3);

  /* outline: solid blue 0.1rem; */
}

.container {
  width: 85vw;
  padding-left: 6vw;
  padding-right: 6vw;
  max-width: 75rem;
  margin: auto;

  background-color: var(--primary-color-1);
}

/* RESPONSIVENESS  */
@media screen and (max-height: 768px){
  :root {
    font-size: 16px;
  }
}

@media screen and (max-height: 768px){
  :root {
    font-size: 14px;
  }
}